  <% if session[:user_id] %>
  
<form action="/" method="get">
    <input type="submit" value="Home">
</form>
<form action="/logout" method get>
    <input type="submit" value="Logout">
</form>
<form action="/profile" method get>
  <input type="submit" value="Hi, <%= current_user.username %>">
</form>



  <% else %>
    <% if @login_page.nil? %>
<form action="/login_page" method get>
    <input type="submit" value="Login">
</form>
    <% end %>
  <% end %>
 

  
