<div class="container">
  <h1>Welcome to Survey Gorilla!</h1>

  <h2>Surveys You Can Take: </h2>
  <ul>
    <% @surveys.each do |survey_obj| %>
      <li><a href=""><%= survey_obj.title %></a></li>
    <% end %>
  </ul>
</div>
