<div class='container'>
  
  <h1> Your Surveys </h1>
    <% surveys = @user.surveys %>
    <% surveys.each do |survey| %>
    <h4> <%= survey.title %> </h4>
    <% end %>

  <form action="/surveys/new" method="get">
    <input type="submit" value="New Survey">
  </form>
<div align="center">
  <h3 align="center"> Upload your Avatar! </h3>
  	<form action="/profile" method="post" enctype="multipart/form-data"></div>
        
        	<input type="file" name="image" />
        
        	<input type="submit" name="submit" value="Upload" />
     </form>
      <% if @avatar != nil %>
      	 <img src="<%= @avatar.file.thumb.url %>" />
      <% end %>
 </div>
</div>
