<div class='container'>
  <h2> Welcome <%= @user.username %> </h2>
  <h3> Your Survey's </h3>
    <% surveys = @user.surveys %>
    <% surveys.each do |survey| %>
    <h4> <%= survey.title %> </h4>
    <% end %>

  <form action="/surveys/new" method="get">
    <input type="submit" value="New Survey">
  </form>
</div>
