<div class="container survey_container">
  <form action='/surveys' method="POST">
      <label>Please enter a survey title</label>
      <input type="text" name="survey_title"/>
      <input class="submitTitle" type="submit" value="Submit"/>
    </form>
  <% if @error_message %>
    <p id="error_message"><%= @error_message%></p>
  <% end %>
</div>
