
<div id="view" class="forms">
  <h1><%= @survey.title %></h1>
    <% questions = @survey.questions.order("id asc") %>
    <% questions.each do |question| %>
      <fieldset>
        
          <span> <%= question.q_content %> </span>
            <ul>
              <% answers = question.possible_answers.order("id asc") %>
              <% answers.each do |answer| %>
                <li><input type="radio" disabled="disabled"/><%= answer.a_content %></li>
              <% end %>
            <ul> 
      </fieldset>
    <% end %> 
    <form action='/' >
      <input type="submit" value="Finalize"/>
    </form> 
    <form action='/surveys/<%= @survey.id %>/edit_more' method="get" >
      <input type="submit" value="Edit More"/>
    </form> 

</div>
